.col-sm-2 {
    background-color: #dddddd;
    border:1px solid black;
    margin: 10px;
    padding: 15px;
    align-content: center;
    border-radius: 10px;
height: 320px;
}

/*not working?*/
.presentProperty {
    margin: 2px;
    border-top-color: black;
}

.presentImage {
    margin: auto;
    width: 50%;
}

.presentTitle{
    text-align: center;
}

.presentActions{
    margin: auto;
    text-align: center;
}