.react-cntdwn-timer{
    font-size: 35px;
    background-color: moccasin;
    height: 20%;
    font-family: Cambria;

}
.hoho{
    font-size: 30px;
    background-color: moccasin;
    height: 20%;
    font-family: Cambria;

}